---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import Footer from "@/components/Footer.astro";
---

<Layout
	title="Porfolio de Leonel Moreno - Desarrollador Web | Web Developer"
	description="Leonel Moreno es un desarrollador web que trabaja en el área de la web y en la nube. Actualmente trabaja como desarrollador web en el equipo de desarrollo de una empresa de tecnología."
>
	<main>
		<SectionContainer>
			<Hero />
		</SectionContainer>
		<SectionContainer id="experiencia" class="lg:max-w-[1200px]">
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos" class="">
			<Projects />
		</SectionContainer>
		<SectionContainer class="md:pb-12 justify-center flex">
			<Footer />
		</SectionContainer>
	</main>
</Layout>
