---
import AstroIcon from "./icons/AstroIcon.astro";
import FigmaIcon from "./icons/Figma.astro";
import TailwindIcon from "./icons/Tailwind.astro";
---

<footer class="border border-emerald-400/80 max-w-min px-3 py-1 rounded-full select-none transition duration-300 opacity-70 hover:opacity-100">
  <div
    class="flex justify-center items-center max-w-min gap-1 grayscale hover:grayscale-0"
  >
    <p class="inline-block whitespace-nowrap">Forjado gracias a</p>
    <FigmaIcon class="w-4 h-4" />
    <AstroIcon class="w-4 h-4" />
    <TailwindIcon class="w-5 h-5" />
  </div>
</footer>
