---
import AstroIcon from "./icons/AstroIcon.astro";
import FigmaIcon from "./icons/Figma.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import ThreeJS from "./icons/ThreeJS.astro";
---

<div class="flex justify-center pb-4">
  <footer 
  class="select-none px-4 py-2 shadow-2xl rounded-full border border-white/15 bg-[linear-gradient(45deg,transparent_25%,rgba(68,68,68,.2)_50%,transparent_75%,transparent_100%)] bg-[length:250%_250%,100%_100%] bg-no-repeat transition-[background-position_0s_ease] duration-[1000ms]"
  style={{
    backgroundPosition: '-100% 0, 0 0', 
    animation: 'bgPosition 6s ease infinite',
  }}
>
  <div
    class="flex justify-center items-center max-w-min gap-1"
  >
    <p class="inline-block whitespace-nowrap text-sm xl:text-base">Forjado gracias a</p>
    <FigmaIcon class="w-4 h-4" />
    <AstroIcon class="w-4 h-4" />
    <TailwindIcon class="w-5 h-5" />
    <ThreeJS class="w-4 h-4" />
  </div>
</footer>
</div>

<style>
  @keyframes bgPosition {
    0% { background-position: 200% 0, 0 0; }
    100% { background-position: -100% 0, 0 0; }
  }
</style>
