---
import "@fontsource-variable/noto-serif-display";
import Button from "./Button.astro";
---

<div class="flex flex-col justify-center h-[calc(100vh-100px)]">
  <h2 class="flex text-[180px] font-medium tracking-tighter leading-none -my-5">Leonel</h2>
  <h1
    class="flex justify-end text-[52px] text-yellow-500 font-noto-serif font-medium italic -my-3"
  >
    Software Developer
  </h1>
  <h2
    class="inline-flex justify-end text-[180px] font-medium tracking-tighter pointer-events-none leading-none -my-5"
  >
    Moreno
  </h2>
  <div class="flex gap-2 justify-end mt-12">
    <Button href="mailto:leomoreno330@gmail.com"> CONTACTAME </Button>
    <Button href="https://www.linkedin.com/in/leomoreno99/"> LINKEDIN </Button>
  </div>
</div>
