---
import "@fontsource-variable/noto-serif-display";
import Button from "./Button.astro";
import SocialButton from "./SocialButton.astro";

const SOCIAL_NETWORKS = [
  {
    name: "linkedin",
    href: "https://www.linkedin.com/in/leomoreno99/",
  },
  {
    name: "github",
    href: "https://github.com/leomoreno99",
  },
  {
    name: "email",
    href: "mailto:leomoreno330@gmail.com",
  },
  {
    name: "instagram",
    href: "https://www.instagram.com/leo_moreno99/",
  },
];
---

<div
  class="z-50 flex flex-col justify-center h-svh max-h-svh [&>h2]:text-[70px] md:[&>h2]:text-[130px] xl:[&>h2]:text-[200px] md:[&>h2]:-my-4 xl:[&>h2]:-my-5"
>
  <h2 class="flex font-medium tracking-tighter leading-none">Leonel</h2>
  <h1
    class="flex justify-end text-xl md:text-[36px] xl:text-[52px] text-yellow-500 font-noto-serif font-medium italic -my-3"
  >
    Software Developer
  </h1>
  <h2
    class="inline-flex justify-end font-medium tracking-tighter pointer-events-none leading-none"
  >
    Moreno
  </h2>
  <div class="flex gap-2 justify-end mt-6 md:mt-12">
    <Button href="mailto:leomoreno330@gmail.com"> CONTACTAME </Button>
    <Button href="https://www.linkedin.com/in/leomoreno99/"> LINKEDIN </Button>
  </div>
</div>
<div class="md:-mt-[69px] xl:-mt-[72px]">
  <nav
    class="absolute [top:calc(100svh-170px)] md:[top:calc(100vh-190px)] left-6 md:left-12 flex items-end gap-12"
  >
    <ul class="[&>li]:pt-3">
      {
        SOCIAL_NETWORKS.map((social) => (
          <li>
            <SocialButton {...social} />
          </li>
        ))
      }
    </ul>
    <SocialButton name="DESCARGA MI CV" href="/cv-leomoreno.pdf" />
  </nav>
</div>
<!-- <div class="fixed bottom-12 left-12">
  
</div> -->
