---
const { href } = Astro.props;
---

<a
    target="_blank"
    href={href}
    role="link"
    rel="noreferrer"
    class="inline-flexitems-center justify-center gap-2 px-3 py-2 space-x-2 select-none text-base transition duration-300 text-white border border-white/20 focus-visible:ring-yellow-500/80 text-md hover:border-yellow-200/40 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
    <slot />
</a>
