---
import Subtitle from "./Subtitle.astro";
import ProjectItem from "./ProjectItem.astro";

const PROJECTS = [
  {
    title: "ABM Turismo",
    description:
      "Proyecto final del curso MERN en <strong>PilarTecno</strong>, donde desarrollé el <strong>Frontend, Backend, base de datos y aplicación móvil</strong> para un sistema ABM de lugares turísticos en La Rioja.",
    github: "https://github.com/leomoreno99/integrador-pilartecno",
    image: "/projects/abm-turismo.webp",
    tags: ["React", "React Native", "NodeJs", "ExpressJs", "MongoDB"],
    year: "2022",
  },
  {
    title: "Tienda Repuestos",
    description:
      "Tienda online desarrollada como trabajo final para una materia de la universidad, en la que implementamos el <strong>Frontend, Backend y base de datos</strong> utilizando arquitectura <strong>REST</strong>.",
    github: "https://github.com/leomoreno99/cucco-repuestos-frontend",
    image: "/projects/cucco-repuestos.webp",
    tags: ["React", "Styled Components", "NodeJs", "MongoDB"],
    year: "2021",
  }
];
---

<Subtitle>Proyectos</Subtitle>
<div class="flex gap-6 md:gap-12 flex-wrap mx-auto">
  {PROJECTS.map((project) => <ProjectItem {...project} />)}
</div>
