---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`${className} md:pb-[100px] scroll-m-20 w-full mx-auto container py-6 px-6 max-w-[500px] md:max-w-3xl xl:max-w-[1200px]`}
  
>
  <slot />
</section>
