---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} md:pb-[100px] scroll-m-20 w-full mx-auto container lg:max-w-[1200px] md:max-w-2xl`}
>
  <slot />
</section>
